html,
body,
:global(#root) {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: Arial,"微软雅黑",sans-serif;
}

.b1{
  background: #71C9CE;
}

.b2{
  background: #A6E3E9;
}

.b3{
  background: #CBF1F5;
}

.b4{
  background: #E3FDFD;
}

.c1{
  color: #71C9CE;
}

.c2{
  color: #A6E3E9;
}

.c3{
  color: #CBF1F5;
}

.c4{
  color:#E3FDFD;
}