/* #222831 #393E46 #00ADB5 #EEEEEE */

.layout {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* 背景图片 */
  /* background: url(../../assets/login/background.jpg) center /100% 100% no-repeat; */
}

