.b1{
    background: #71C9CE;
}

.b2{
    background: #A6E3E9;
}

.b3{
    background: #CBF1F5;
}

.b4{
    background: #E3FDFD;
}

.c1{
    color: #71C9CE;
}

.c2{
    color: #A6E3E9;
}

.c3{
    color: #CBF1F5;
}

.c4{
    color:#E3FDFD;
}